<div class="container-fluid">
	<div class="jumbotron contact">
		<h1>CONTACT US</h1>
		<ul>
			<li>Frankfurt Bikes</li>
			<li>Big Street 99</li>
			<li>445544 Frankfurt</li>
			<li>Email: hello@frankfurtbikes.de</li>
		</ul>
	</div> <!-- /jumbotron contact -->
<div> <!-- /container-fluid -->