<body style="margin: 0; padding: 0;">
<table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
<tr>
 <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
 <%= link_to image_tag(product.image_url, class: "img-responsive hover-image"), product %>
  <img src="" alt="Creating Email Magic" width="300" height="230" style="display: block;" />
 </td>
 </tr>
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 40px 0 30px 0;">
  <table border="1" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td width="260" valign="top">
     <table border="1" cellpadding="0" cellspacing="0" width="100%">
      <tr>
       <td>
        <img src="" alt="" width="100%" height="140" style="display: block;" />
       </td>
      </tr>
      <tr>
       <td style="padding: 25px 0 0 0;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
       </td>
      </tr>
     </table>
    </td>
    <td style="font-size: 0; line-height: 0;" width="20">
     &nbsp;
    </td>
    <td width="260" valign="top">
     <table border="1" cellpadding="0" cellspacing="0" width="100%">
      <tr>
       <td>
        <img src="" alt="" width="100%" height="140" style="display: block;" />
       </td>
      </tr>
      <tr>
       <td style="padding: 25px 0 0 0;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
       </td>
      </tr>
     </table>
    </td>
   </tr>
  </table>

  </td>
 </tr>
 <tr>
 <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
  <table border="1" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td>
     <td width="75%">
      &reg; Someone, somewhere 2013<br/>
      Unsubscribe to this newsletter instantly
     </td>
    </td>
    <td>
     <td align="right">
      <table border="0" cellpadding="0" cellspacing="0">
       <tr>
        <td>
         <a href="http://www.twitter.com/">
          <img src="" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
         </a>
        </td>
        <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
        <td>
         <a href="http://www.twitter.com/">
          <img src="" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
         </a>
        </td>
       </tr>
      </table>
     </td>
    </td>
   </tr>
  </table>
 </td>
 </tr>
</table>
</body>