<table>
  <tbody>
    <tr>
      <td><h2>Received order for <%= @product.name %></h2></td>
    </tr>
    <tr>
      <td><p>Thank you for ordering with <%= @appname %>! Your order will be shipped soon.</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>