/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**************+**/
/**** general ****/
/*************+***/

.container-fluid {
	padding: 0px;
}

.navbar-default {
  background-color: #795548;
  border-style: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a  {
  color: #fff;
  font: normal 700 10px/30px 'Lato', sans-serif;
  font-family: Lato, Futura, 'Trebuchet MS', Arial, sans-serif;
  letter-spacing: 3.6px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #FFC107;
}

.container-fluid .jumbotron{
	border-radius: 0px;
	height: 100vh;
}

h1, h2, h3 {
	color: #333;
	font-family: "Playfair Display",serif;
	display: block;
}

.navbar-form {
	margin-top: 13px;
}

.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}

.btn-default-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

/****************/
/**** devise ****/
/****************/

.devise {
  background-color: #757575;
  height: 100vh;
}

.form-container-devise {
  background-color: #ffc107;;
  padding: 60px;
  border-radius: 2px;
}

.form-container-devise input {
  width: 100%;
  border-color: white;
  background-color: #ffc107;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  color: #fff;
}

.form-container-devise label, 
.form-container-devise em,
.form-container-devise p {
  display: inline-block;
  color: #fff;
}

.form-container-devise i {
  color: #fff;
}

.form-container-devise h2, 
.form-container-devise h3 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0px;
  color: #fff;
}

.form-container-devise h3 {
  margin-top: 2em;
  margin-bottom: 10px;
}

.form-container-devise span {
  display: inline-block;
  color: #fff;
  width: 100%;
  text-align: center;
}

.form-container-devise .field {
  margin-bottom: 15px;
}

.form-container-devise input.btn-form-devise {
  background-color: #009688;
  color: #fff;
  padding: 1em;
  border-style: none;
  margin-top: 10px;
}










