<% if signed_in? %>
  <h4 class="add-comment">Add a review:</h4>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <div class="form-group">
      <p>
        <%= f.text_area :body, class: 'form-control' %>
      </p>
    </div>
    <p>
      <div class="rating"></div>
    </p>
    <p>
      <%= f.submit "Submit", class:"btn btn-warning" %>
    </p>
  <% end %>
<% end %>